<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oauth2 NodeJS</title>
    <link rel="stylesheet" href="public/css/screen.css">
    <script type="text/javascript" src="public/js/app.js"></script>
</head>
<body>
<a href="/api/authenticate" class="btnAuth">Authenticate</a>
</body>
</html>